@tailwind base;
@tailwind components;
@tailwind utilities;

html,
#root,
.App,
body {
  height: 100%;
}

.App body #root {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
